body {
    font-family: cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.estrela{
    position: fixed;
    z-index: -10;
}
header {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    background-color:white;
    padding: 5px;
    width:100%;
}
button.control {
    display: flex;
    background-color: yellow;
    font-weight: bold;
    font-size: 40px;
    font-family: fantasy;
    border-bottom: 5px;
    border-color: black;
    border-radius: 80%;
    z-index: 50;
}
.titulo {
    display: flex;
    text-align: center;
}
 .bird1 img {
     width: 120px;
     position: fixed;
     top: 340px; 
     left: 600px;
     z-index: 0;
 }

.musica {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    height: 20vh;
    font-size: 30px;
}
footer {
    position: absolute;
    bottom: 0;
}