body {
    font-family: cursive;
}

.estrela{
    position: fixed;
    z-index: -10;
}
header {
    text-align: center;
}

button.control {
    display: flex;
    background-color: yellow;
    font-weight: bold;
    font-size: 40px;
    font-family: cursive;
    border-bottom: 5px;
    border-color: black;
}

.letra-container{
    display: flex;
    height: 50vh;
}

.titulo {
    display: flex;
    font-size-adjust: initial;
    text-align: right;
    margin: 0;
}
 .bird1 img {
     width: 120px;
     position: fixed;
     top: 340px; 
     left: 600px;
 }

.musica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

header {
    justify-content: space-between;
    background-color:white;
    padding: 5px;
}
footer {
    font-size-adjust: inherit;
    text-align: right;
    margin: 0;
    padding: 5px;
}